@page
@model AdvancedProgramming_Lesson4.Pages.MessagesHistoryModel

@{
    ViewData["Title"] = "MessagesHistory";
}

<h1>MessagesHistory</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Messages[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Messages[0].Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Messages[0].IsLogin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Messages) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsLogin)
            </td>
        </tr>
}
    </tbody>
</table>
